/* ── BASE STYLING ── */
@import "typography.css";

*, *::after, *::before {
    box-sizing:border-box;  
}

*{
	margin: 0;
    padding: 0;
	line-height: calc(1em + 0.5rem);
}

* {
    font-weight: inherit;
}

html{
    --colour-text: #1a1208;
    --colour-background: #F5EDE0;
    --colour-off-white: #EDE3D4;
    --colour-red: #B6461C;
    --colour-gold: #c9a84c;
    --shadow: rgba(26,18,8,0.18);


    font-family: 'Playfair Display', DM Mono ,serif;
    font-weight: 100;
    color: var(--colour-text);
    background-color: var(--colour-background);

    --size-xxs: 0.5rem;
	--size-xs: 0.75rem;
	--size-sm: 0.875rem;
	--size-base: 1rem;
	--size-lg: 1.125rem;
	--size-xl: 1.25rem;
	--size-2xl: 1.5rem;
	--size-3xl: 1.875rem;
	--size-4xl: 2.25rem;
	--size-5xl: 3rem;
	--size-6xl: 3.75rem;
	--size-7xl: 4.5rem;
	--size-8xl: 6rem;
	--size-9xl: 8rem;
	--size-10xl: 10rem;

    --ease-back-out: cubic-bezier(.34,1.56,.49,1);
}

img,svg {
	display: block;
	max-width: 100%;
	height: auto;
}

.container{
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    padding-top: var(--size-2xl);
    
    gap: var(--size-7xl);
}

p {
    font-family: 'DM Mono', monospace;
    opacity: 0.6;
    font-size: var(--size-sm);
}

button{
	display: inline-block;
	padding: 0;
	border: none;
	background: none;
	cursor: pointer;
	color: inherit;
}


/* ── NAV STYLING ── */
.menu {
    color: var(--colour-red);
    width: var(--size-4xl);
    height: var(--size-4xl);
    display: block;
    z-index: 200; 
    position: relative;
}

nav {
    overflow: hidden;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 100;
    
    display: flex;
    flex-direction: column;
    /* padding: var(--size-2xl) var(--size-2xl); */
    pointer-events: none;
    background-color: var(--colour-background);

    translate: 0 150%;
    transition: translate 0.5s ease;
	transition-timing-function: cubic-bezier(.17,.67,.83,.67);
}

nav.toonmenu {
    pointer-events: all;
    translate: 0 0;
}

header div{
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* padding: var(--size-2xl); */

    width: 100%;
}

nav a {
	font-size: var(--size-xl);
	text-decoration: none;
	color: var(--colour-primary);
	transition: color 0.3s;
}

nav a:hover{
	color: var(--colour-primary);
}


nav ul{
    padding-left: 0;
    display: flex;
    flex-direction: column;
	align-items: center;
    justify-content: center;
	list-style: none;
    height: 100%;

    & li{
        list-style: none;
        padding: var(--size-xxs) var(--size-xs);
        border-radius: var(--size-xxs);
        border: 1px solid transparent;
        transition: border-color 0.5s ease;
    }
}

.liAppear {
    opacity: 0;
    transform: translateY(20px);
    animation: fadeInUp 1s both;
}

@keyframes fadeInUp {
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.liAppear:nth-of-type(1) { animation-delay: 0.6s; }
.liAppear:nth-of-type(2) { animation-delay: 0.7s; }

@media (min-width: 768px) {
    nav {
        /* padding: var(--size-3xl) var(--size-2xl); */
        translate: 0% 0%;
        inset: unset;
        background-color: transparent;

        position: relative;
        pointer-events: all;
        
        & ul {
            flex-direction: row;
            gap: var(--size-lg);
        }
    }

    header{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        width: 100%;

        div {
            width: fit-content;
        }
    }

    .menu {
        display: none;
    }
}

/* ── STYLING ── */
.generator {
    display: flex;
    flex-direction: column;
    gap: var(--size-2xl);
    align-items: center;
    width: 100%;
    /* margin: var(--size-3xl) auto; */
    margin: 0 auto;

    padding: var(--size-base) var(--size-2xl);
}

.generator div:nth-of-type(1) {
    display: flex;
    flex-direction: column;
    gap: var(--size-xxs);
    align-items: center;

    & h1{
        font-weight: 600;
        font-size: var(--size-4xl);
        text-align: center;

        & em {
            color: var(--colour-red);
        }
    }

    & p{
        text-align: center;
    }
}

.generator div:nth-of-type(2) {
    background-color: var(--colour-off-white);
    border: 1px solid var(--colour-gold);
    box-shadow: 5px 5px var(--colour-gold);
    padding: var(--size-base) var(--size-2xl);

    display: flex;
    flex-direction: column;
    gap: var(--size-2xl);
    width: 100%;

    & button{
        font-size: var(--size-base);
        font-family: 'DM Mono', serif;
        color: var(--colour-background);
        font-weight: lighter;
        padding: var(--size-base) var(--size-base);
        box-shadow: 3px 3px var(--colour-text);
        width: 100%;

        background-color: var(--colour-red);
        display: inline-block;
        transition: color 0.3s;

        &:hover {
            transform: translate(2px, 2px);
            box-shadow: 0px 0px var(--colour-text);
        }
    }

    & fieldset {
        border: none;
        display: flex;
        flex-direction: column;
        gap: var(--size-base);

        & label {
            font-family: 'DM Mono', monospace;
            font-size: var(--size-sm);
            opacity: 0.6;
            display: flex;
            flex-direction: column;
            gap: var(--size-xxs);
            width: 100%;
        }

        & input,
        & select {
            padding: var(--size-sm) var(--size-xs);
            border: 1px solid var(--colour-gold);
            background-color: var(--colour-background);
            color: var(--colour-text);
            font-family: 'DM Mono', monospace;
            height: 100%;
        }
    }
}

.generator form {
    display: flex;
    flex-direction: column;
    gap: var(--size-2xl);
    width: 100%;
}


/* ── COLLECTION STYLING ── */
.collection{
    margin: 0 var(--size-2xl) var(--size-4xl) var(--size-2xl);
    text-align: center;

    & h2 {
        font-size: var(--size-3xl);
        font-weight: 600;

        & em {
            color: var(--colour-red);
        }
    }

    & ul {
        margin-top: var(--size-2xl);
        display: flex;
        justify-content: center;
        flex-direction: row;
        flex-wrap: wrap;
        
        gap: var(--size-base);
        align-items: center;

        
        & li{
            list-style: none;
            padding: var(--size-xs);
            border-radius: var(--size-xxs);
            border: 1px solid transparent;
    
            background-color: var(--colour-off-white);
            width: fit-content;
            transition: border 0.3s, scale 0.3s;

            &:hover{
                border: 1px solid var(--colour-gold);
                scale: 1.05;
            }
        }
    }
}


/* ── RESPONSIVE STYLING ── */
@media (min-width: 768px){
    /* .generator {
        flex-direction: row;
        gap: var(--size-6xl);
        align-items: flex-start;
    }

    .generator div:nth-of-type(1) {
        align-items: flex-start;
        text-align: left;
    }

    .generator div:nth-of-type(2) {
        width: 30vw;
    } */

    .generator{
        width: fit-content;
        padding: var(--size-3xl) var(--size-6xl);
        gap: var(--size-5xl);
    }

    .generator div:nth-of-type(1) {
        & h1{
            font-size: var(--size-5xl);
        }
    }

    .generator div:nth-of-type(2) {
        padding: var(--size-3xl) var(--size-6xl);
        
        & fieldset {
            flex-direction: row;
        }
    }
    
}

.button-class {
    font-size: var(--size-base);
    font-family: 'DM Mono', serif;
    color: var(--colour-background);
    font-weight: lighter;
    padding: var(--size-base) var(--size-base);
    box-shadow: 3px 3px var(--colour-text);
    width: 100%;

    background-color: var(--colour-red);
    display: inline-block;
    transition: color 0.3s ease, transform 0.3s ease, box-shadow 0.3s ease;

    &:hover {
        transform: translate(2px, 2px);
        box-shadow: 0px 0px var(--colour-text);
    }
}

.photobooth-container {
    display: flex;
    flex-direction: column;
    gap: var(--size-2xl);
    align-items: center;
    width: 100%;
    padding: var(--size-3xl) var(--size-6xl);
}